<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


		{% if title %}
		<title>
			{{ title }}- ABAC System
		</title>
		{% else %}
		<title>Welcome to ABAC System</title>
		{% endif %}
		<style>
			.login_form{
				width: 100%; 
				max-width: 1000px;
				margin: auto;
				padding: 20px;
				margin-top: 50px;
				background-color: darkslategray;
				color:white;
			}
			.form-group{
				padding-top: 3px;
			}
		</style>
	</head>
	<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
				<div class="container">
					<a class="navbar-brand mr-4" href="/login">ABAC System</a>
					{% if current_user.is_authenticated %}
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
							{% if session['user_type'] == 'user'%}
								<a class="nav-item nav-link" href="{{ url_for('user_home') }}">Home</a>
								<a class="nav-item nav-link" href="{{ url_for('access_resource_user') }}">
									Access Resource </a>
							{% endif %}

							<a class="nav-item nav-link" href="{{ url_for('view_profile') }}">View Profile</a>
							<a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
						</div>	
					</div>
					{% endif %}
				</div>
			</nav>
		</header>
		
		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8">
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
							{{ message }}
							</div>
						{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
			</div>
			{% block content %}{% endblock %}
				
		</main>
	</body>
</html>