{% extends "base.html" %}

{% block content %} 
    <div class="login_form">
        <div class="text-left">
            <legend class="border-bottom mb-4">Update Resource</legend>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
        <div class="input-group mb-4 input-group-md">
            <div class="input-group-prepend">
                <span class="input-group-text">Select Resource</span>
            </div>
            <!-- {{ form.resource_name(class_="form-control",size=64) }} -->
            <div class="form-group">
            <SELECT name="resource_id">
                <OPTION {% if resource_id is not defined %}selected{% endif %} disabled hidden>Choose Resource</OPTION>
                {% for resource in resources %}
                    <OPTION value="{{ resource.resource_id }}" {% if resource_id == resource.resource_id %} selected {% endif %}> {{ resource.resource_name }} </OPTION>
                {% endfor %}
            </SELECT>
            </div>
            {% for error in form.resource_name.errors %} 
            <span style="color:red;">[{{error}}]</span>
            {% endfor %}
            <p>{{ form.submit_id(class="btn btn-outline-info") }}</p>

        </div>
    {% if resource_id is defined %}
    <div class="card text-left">
        <div class="card-body">
            <table class="table table-hover table-striped table-responsive table-bordered"> 
                <tr> <td>Name : </td> <td><span style="color:green;"> {{ form.resource_name.data }} </span></td> </tr>
                <tr> </tr>
            </table>

            <table class="table table-hover table-striped table-responsive table-bordered "> 
                <tr> <td> Attribute </td> <td> Value </td> </tr>
                {% for aval_form in form.details %} 
                <tr>
                    {% if aval_form.attribute_id.data %}
                        <td> {{ aval_form.attribute(class_="form-control",size=64) }} </td>
                        <td> {{ aval_form.val(class_="form-control",size=64) }} </td>
                        <td>
                            <div class="input-group mb-4 input-group-md">
                                {{ aval_form.new_val(class_="form-control",size=64) }}
                            </div>
                        </td>
                    {% else %}
                    <fieldset class="form-group">
                        <td><div class="input-group mb-4 input-group-md">
                            {{ aval_form.attribute(class_="form-control",size=64, placeholder="Attribute") }}
                            {% for error in aval_form.attribute.errors %} 
                            <span style="color:red;">[{{error}}]</span>
                            {% endfor %}
                        </div></td>
                        <td><div class="input-group mb-4 input-group-md">
                            {{ aval_form.val(class_="form-control",size=64, placeholder="Value") }}
                            {% for error in aval_form.val.errors %} 
                            <span style="color:red;">[{{error}}]</span>
                            {% endfor %}
                        </div></td>
                    </fieldset>
                    {% endif %}
                </tr>
                    {% for error in aval_form.new_val.errors %} 
                        <tr> 
                            <td> {{ aval_form.attribute.data }} </td>
                            <td> <span style="color:red;">[{{error}}]</span> </td> 
                        </tr>
                    {% endfor %}
                {% endfor %}

            </table>
            
            <table class="table table-hover table-striped table-responsive "> 
                <tr>{{ form.add_aval(class="btn btn-outline-info") }}</tr>

            </table>
        </div>
    </div>
                <br><br>
                <p>{{ form.submit(class="btn btn-outline-info") }}</p>
    {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}