{% extends "base.html" %}
{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>{{ resource.resource_name }}</a>
            </div>
            <p class="font-weight-bold">Brand: {{ item.brand }}</p>
            <p class="font-weight-bold">Price: Rs. {{item.price}}</p>
            <p class="text-break">Description: {{ item.description }}</p>
        </div>
    </div>  
<div class="row">
        <div class="col-md-1">
            <a href="{{ url_for('cart_remove',item_id=item.item_id,count=count)}}" class='btn btn-danger btn-sm'>
                <span class="fas fa-minus"></span>
            </a>
        </div>
        <div class="col-md-1">
            <h4>   {{ count }}   </h4>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('cart_add',item_id=item.item_id,count=count)}}" class='btn btn-primary btn-sm'> 
                <span class="fas fa-plus"></span> 
            </a>
        </div>
    </div>
{% endblock content %}